.place__paragraph{
  margin: 0 0 26px;
  max-width: 484px;
  color: #fff;
  font-size: 18px;
  line-height: 163%;
  font-weight: normal;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px 32px;
  }
}
