.header__lang-link-text {
  color: white;
  font-size: 24px;
  margin-right: 18px;
  line-height: 117%;
  text-decoration: none;
  opacity: 1;
}

.header__lang-link-text:hover {
  transition: opacity 0.4s ease-out;
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link-text {
    font-size: 18px;
    line-height: 111%;
  }
}

